body {
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
    background-color: pink;
  }
  @media (max-width: 575px) {
    ul {
      display: none;
    }
    input:checked ~ ul {
      display: block;
    }
    input {
      display: none;
    }
    label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      user-select: none;
    }
    body {
      margin: 0;
      padding: 0;
      border: 0;
      display: grid;
      grid-template-areas: "header header" "main main" "footer footer";
    }
    menu {
      display: flex;
      grid-area: header;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      border: 0;
    }
    img {
      width: 300px;
    }
    main {
      grid-area: main;
    }
    .navbar {
      width: auto;
      text-align: center;
      background-color: pink;
      margin: 0;
      padding: 8px;
      border: 0;
    }
    .dropbutton {
      width: 400px;
    }
    .columnas {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      width: auto;
      gap: 5px;
    }
    .pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 20px;
    }
    footer {
      display: flex;
      justify-content: center;
      padding: 20px;
    }
  }
  @media (min-width: 575px) {
    body {
      display: grid;
      grid-template-areas: "navbar navbar" "menu main" "footer footer";
    }
    menu {
      text-align: center;
      width: 180px;
      padding: 0;
      border: 0;
      margin: 0;
    }
    h1 {
      font-size: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .textomenu {
      display: block;
    }
    .columnas {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-around;
      gap: 12px;
      padding: 20px;
    }
    .navbar {
      text-align: center;
      background-color: pink;
      margin: 0;
      padding: 8px;
      border: 0;
    }
    .dropbutton {
      width: 950px;
    }
    img {
      width: 250px;
      gap: 10px;
    }
    .pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 20px;
    }
  }
  menu {
    background-color: rgb(255, 151, 168);
    color: white;
    display: flex;
  }
  ul {
    list-style: none;
  }
  .dropbutton {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    text-align: left;
  }
  .Producto {
    text-align: center;
    background-color: white;
    margin: 0px;
    border: 1px solid gray;
    transition: all 3s;
  }
  .Producto:hover {
    background-color: rgb(248, 98, 123);
  }
  h2 {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .button {
    display: flex;
    justify-content: center;
    border: 10px;
  }
  button {
    background-color: rgb(255, 151, 168);
    color: white;
    width: 90px;
    border: 0px;
    padding: 10px;
    margin-bottom: 10px;
  }
  footer {
    background-color: rgb(255, 151, 168);
    grid-area: footer;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 20px;
  }